---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  modernize-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-narrowing-conversions,
  -bugprone-std-namespace-modification,
  -modernize-avoid-c-arrays,
  -modernize-pass-by-value,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-designated-initializers,
  -modernize-use-emplace,
  -modernize-use-nodiscard,
  -modernize-use-ranges,
  -modernize-use-std-numbers,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -performance-unnecessary-value-param,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-named-parameter,
  -readability-redundant-member-init,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix,
  -readability-use-anyofallof,
  -readability-use-concise-preprocessor-directives
WarningsAsErrors: '*'
HeaderFilterRegex: '.*[/\\](engine|games)[/\\].*'
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           NULL
  - key:             modernize-use-nullptr.ReplaceMacros
    value:           true
  - key:             modernize-use-auto.MinTypeNameLength
    value:           5
  - key:             performance-inefficient-vector-operation.CheckMove
    value:           true
...
